<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="../iron-collapse/iron-collapse.html">
<link rel="import" href="../iron-icons/hardware-icons.html">

<dom-module id="processor-provider">
  <template>
    <style>
      :host { display: block;}
      #selected {cursor: pointer;list-style: none;border-bottom:1px solid lightgray;padding: 10px;margin:5px;color: #888;}
      #selected:hover { background: rgba(220,220,220, 0.4); color:#007bff;}
      .btn-collapsible:hover { color:#0056b3;}
      .btn-collapsible {background: transparent;width: 100%;border: none;border-bottom:1px solid lightgrey;
        color: #007bff;padding: 20px;cursor: pointer;outline: none;text-align: initial;font-size:13pt;}
      .close {float:right;font-size:1rem;font-weight:500;line-height:0.5;color:#000;
       text-shadow: 0 1px 0 #fff;opacity: .5;cursor: pointer;}
      #show-selected { padding: 10px; margin: 5px; color: #888; font-weight: bold;}
      .collapse-content { border: 1px solid #dedede;}
    </style>
    <div>
      <button id="btn" on-click="toggle" class="btn-collapsible">
        <span><iron-icon icon="hardware:developer-board"></iron-icon></span> [[msgBtn]]
      </button>
      <iron-collapse id="collapse">
        <div class="collapse-content">
          <iron-ajax 
            auto 
            url="https://demo6292426.mockable.io/processors" 
            last-response="{{processors}}"></iron-ajax>
          <template is="dom-repeat" items="[[processors.data]]">
            <li id='selected' on-click="selectItem">Procesador <b>{{item.name}}</b> de {{item.architecture}}bits (<em>{{item.provider}}</em>) </li>
          </template>
        </div>
      </iron-collapse>

      <template is="dom-if" if="[[architecture]]">
        <div id='show-selected'>
          Procesador seleccionado: {{name}} de {{architecture}} bits ({{provider}})
          <span on-click='reset' class="close">X</span> <br>
        </div>
      </template>
    </div>
  </template>

  <script>
    /**
     * `processor-provider`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ProcessorProvider extends Polymer.Element {
      
      static get is() { return 'processor-provider'; }

      static get properties() {
        return {
          processors: {
            type: Array,
            value: []
          },
          architecture: {//esta en el padre (pc-component), como propiedad: architecture="{{architectureProcessor}}"
            type: Number,
            notify: true
          },
          provider: {//esta en el padre (pc-component), como propiedad: provider="{{providerProcessor}}"
            type:String,
            notify: true
          },
          name: {//esta en el padre (pc-component), como propiedad: name="{{nameProcessor}}"
            type: String,
            notify: true
          },
          isCollapsible: {
            type: Boolean,
            value: false,
          },
          isOpenCollapsible: { type: Boolean, value: false, notify: true },
          msgBtn: String
        };
      }

      selectItem(e) {
        this.architecture = parseInt(e.model.item.architecture.replace('bit', ''));
        this.provider = e.model.item.provider;
        this.name = e.model.item.name;
        this.isOpenCollapsible = false;
        this.toggle();
      }

      toggle() {
        this.$.collapse.toggle();
        this.$.btn.setAttribute('aria-expanded', this.$.collapse.opened);
        this.isCollapsible = !this.isCollapsible;
        if (!this.isOpenCollapsible) {
          if (this.isCollapsible && !this.ramMemory) {
            this.isOpenCollapsible = true;
          }
        }
      }

      static get observers() {
        return ['_viewChanges(isCollapsible, architecture)'];
      }

      _viewChanges(isCollapsible, architecture) {
        if (isCollapsible) {
          this.msgBtn = 'Ocultar Procesadores';
        } else if (architecture) {
          this.msgBtn = "Volver a seleccionar";
        } else {
          this.msgBtn = 'Mostrar Procesadores';
        }
      }

      reset() {
        this.architecture = undefined;
        this.provider = undefined;
        this.name = undefined;
      }
    }
    window.customElements.define(ProcessorProvider.is, ProcessorProvider);
  </script>
</dom-module>